body {
  font-family: 'Noto Sans', sans-serif;
  color: #333;
  font-size: 12px;
  width: 100%;
}

/**  custom bootstrap - start */
.btn {
  border-radius: 25px;
  border-color: #ddd;
}

.btn:hover {
  border: solid 1px #bbb;
  background-color: #fff;
}

.btn:active {
  background-color: #f9f9f9;
  border: solid 1px #bbb;
  outline: none;
}

.btn:disabled {
  background-color: #f9f9f9;
  border: solid 1px #ddd;
  color: #bbb;
}

.btn:focus:active,
.btn:focus,
.btn:active {
  outline: none;
}

.move-today {
  padding: 0 16px;
  line-height: 30px;
}

.move-day {
  padding: 8px;
}

.render-range {
  padding-left: 12px;
  font-size: 19px;
  vertical-align: middle;
}

/** custom fontawesome */
.fa {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.toastui-calendar-timegrid-time:nth-child(1), .toastui-calendar-timegrid-time:nth-child(2) {
  display: none;
}

.toastui-calendar-milestone,
.toastui-calendar-task,
.toastui-calendar-allday,
.toastui-calendar-week-view > :nth-child(3),
.toastui-calendar-week-view > :nth-child(5),
.toastui-calendar-week-view > :nth-child(7) {
  display: none;
}

.toastui-calendar-template-time {
  text-wrap: wrap;
}

.toastui-calendar-template-time strong {
  display: none;
}

.toastui-calendar-template-time span {
  font-weight: 700;
  font-size: 1.5em;
  color: #FFFFFF;
}

.toastui-calendar-popup-section.toastui-calendar-section-detail {
  display: none;
}

.toastui-calendar-form-container > :nth-child(1),
.toastui-calendar-form-container > :nth-child(3),
.toastui-calendar-form-container > :nth-child(5) {
  display: none;
}